/*
Theme Name: Avada Child
Description: Child theme for the Avada
Author: Your name here
Template: Avada
*/

body {
  margin: 0;
  color: #747474;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  font: 13px/20px "proxima-nova", Arial, Helvetica, sans-serif;
}

#header-sticky .logo,
#header .logo {
  float: left;
  /* overflow: hidden; */
  /* margin: 31px 0; */
  position: absolute;
  z-index: 9999;
}

nav#nav,
nav#sticky-nav {
  float: right;
  font: 14px/16px "proxima-nova", arial, helvetica, sans-serif;
  font-weight: 600;
  z-index: 99997;
}

#nav ul a,
#sticky-nav ul a,
.navigation li.current-menu-ancestor > a {
  display: inline;
  height: 83px;
  line-height: 83px;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  border-top: none;
}

#nav ul a,
#sticky-nav ul a,
.navigation li.current-menu-ancestor > a {
  display: inline;
  height: 83px;
  line-height: 83px;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  border-top: none;
}


#main h2 {
  font: 18px/20px "proxima-nova-soft",sans-serif;
  font-weight: bold;
}